@import url(http://fonts.googleapis.com/css?family=Oswald);


html, body{
	font-size: 10px;
	font-family: 'Oswald', sans-serif;
	background-color: yellow;
}

.content{
	width: 95%;
	margin: 0 auto;
	border: 1px solid red;
}

header .content{
	position: relative;
	height: 100px;
}

header h1, header nav{
	display: inline-block;
	position: absolute;
}
header h1{
	left: 10px;
}
header nav{
	right: 10px;
}

header nav ul>li{
	list-style: none;
	display: inline-block;
	margin: 2px 30px;
}

header ul>li a{
	text-decoration: none;
	font-size: 2rem;
}

footer{
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: black;
	padding: 5px;
	color: white;
}


@media (min-width: 1000px) {
  .content {
    width: 950px;
  }
}
